.emergency-card-link {
    color: unset;
    cursor: pointer;
}
.emergency-card {
    margin: 0.5em;
}
.emergency-card:hover {
    background-color: #E8F1F8; /*#E4E5E5, #f8fbff, #E8F1F8*/
}

.p-field > span {
    padding: .5em;
}

.p-field > p-tag {
    padding: .5em;
}
